body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}
h1{
    font-size: 60px;
    color: black;
}
h2{
    font-size: 40px;
}

span{
    color: gold;
}
p{
   font-size: 30px;
    font-family: inherit;
    color: black;
}
.flexible-container{
    display: flex;
    margin-bottom: 10%;
}
.half-width{
    width: 70%;
    padding-left: 10%;
    padding-top: 10%;
    
}
.half-width img{
    width: 80%;
    width: 13cm;
    height: 13cm;
}
.link-button{
    text-decoration: chartreuse;
    background-color: black;
    padding: 10px 40px;
    color: chartreuse;
    border-radius: 15px;
    background-image: linear-gradient(black,chocolate);
    font-weight: 700;
}

#mid-banner{
    background-image: url(hi.png);
    background-repeat: no-repeat;
    background-position: left;
}
#recipe{
    text-align: center;
    font-family: fantasy;
    padding-top: 15px;
    padding-bottom: 10px;
}
.experience-things{
    box-shadow: 10px 10px 50px gray;
    border-radius: 12px;
    width: 33.33%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
    
}
.image{
    width: 6cm;
    height: 6cm;
}
#follow{
    box-shadow: 17px 17px 10px gray;
    border-radius:8px ;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
}
image1{
    width: 33.33%
}
#footer{
    color: yellow;
    background-color: orangered;
    font-family: monospace;
    text-align: center;
}
.extra{
    width: 33.33%;
    padding-left: 10%;
}