body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}
h1{
    font-size: 60px;
    color: black;
}
h2{
    font-size: 40px;
}

span{
    color: gold;
}
p{
   font-size: 30px;
    font-family: inherit;
    color: black;
}
.flexible-container{
    display: flex;
    margin-bottom: 10%;
}
.half-width{
    width: 70%;
    padding-left: 10%;
    padding-top: 10%;
    
}
.half-width img{
    width: 80%;
    width: 9cm;
    height: 9cm;
}
.link-button{
    text-decoration: chartreuse;
    background-color: black;
    padding: 10px 40px;
    color: chartreuse;
    border-radius: 5px;
    background-image: linear-gradient(black,chocolate);
    font-weight: 700;
}

#mid-banner{
    background-image: url(hi.png);
    background-repeat: no-repeat;
    background-position: left;
}
#recipe{
    text-align: center;
    font-family: fantasy;
}
experience-things{
    box-shadow: 10px 10px 50px blue;
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    
}